@using MurkYamlStore.Domain.Games
@using MurkYamlStore.Domain.Yamls
@using MurkYamlStore.Enums

@inject IGameManager GameManager
@inject IYamlManager YamlManager

@if (this.allGames is { Count: > 0 })
{
    <div class="mt-2">
    <h3 class="text-center">Archi Game Density</h3>
    <div class="d-flex flex-column gap-2">
        @foreach (IGame game in this.allGames)
            {
                <div class="progress" role="progressbar" aria-label="@game.GameName Archi Density" style="height: 25px;"
                    aria-valuenow="@this.gameCountMap[game.GameId]" aria-valuemin="0" aria-valuemax="@this.allGames.Count">
                    <div class="progress-bar overflow-visible text-light" 
                         style="width: @(this.GetPercentageForGame(game.GameId))%; background-color: purple;">
                        <span class="mx-1">
                            @game.GameName @(this.GetPercentageForGame(game.GameId))%
                        </span>
                    </div>
                </div>
            }
        </div>
    </div>
}

@code
{
    [Parameter]
    public Guid ArchiId { get; set; }

    private IReadOnlyList<IGame> allGames;
    private readonly Dictionary<Guid, int> gameCountMap = new();
    private int yamlCount;

    private double GetPercentageForGame(Guid gameId)
    {
        int gameCount = this.gameCountMap[gameId];
        return Math.Round((double)gameCount / this.yamlCount * 100, 1);
    }

    protected override async Task OnInitializedAsync()
    {
        this.allGames = await this.GameManager.GetGamesByArchiAsync(this.ArchiId).SafeAsync();

        this.gameCountMap.Clear();
        IReadOnlyList<IYaml> yamls = await this.YamlManager.FetchYamlsByArchiAsync(this.ArchiId).SafeAsync();
        this.yamlCount = yamls.Count;
        foreach (IYaml yaml in yamls)
        {
            if (!this.gameCountMap.TryAdd(yaml.GameId, 1))
            {
                this.gameCountMap[yaml.GameId]++;
            }
        }

        this.allGames = this.allGames
            .Where(x => this.gameCountMap.ContainsKey(x.GameId) && this.gameCountMap[x.GameId] > 0)
            .SortBy(x => this.gameCountMap[x.GameId], SortOrder.Descending)
            .ToList();
    }
}