@using MurkYamlStore.Domain.Archis
@using MurkYamlStore.Components.Widgets.Time

@inject IArchiManager ArchiManager

<div class="card @this.Class" style="height: 258px;">
    <div class="d-flex">
        <div class="archi-icon flex-shrink-0">
            @if (string.IsNullOrWhiteSpace(this.Item.Icon))
            {
                <div class="d-flex rounded-start text-bg-secondary justify-content-center align-items-center h-100">
                    <span class="fa fa-earth text-center" style="font-size: 8rem;"></span>
                </div>
            }
            else
            {
                <img class="rounded-start" src="/api/archi/@(this.Item.ArchiId)/icon" alt="Archipelago Icon"/>
            }
        </div>
        <div class="d-flex flex-column m-3 w-100">
            <a href="/Archi/@this.Item.ArchiId" class="card-link fs-5 text-decoration-none">@this.Item.Title</a>
            <p class="card-text flex-fill">@this.Item.Description</p>
            <div class="d-flex gap-3">
                <div class="d-flex flex-column">
                    <span class="card-text" style="font-size: .825rem;">Players</span>
                    <span class="card-text text-success">
                        @this.playerCount <span class="fa fa-user"></span>
                    </span>
                </div>
                <div class="d-flex flex-column flex-fill">
                    <span class="card-text" style="font-size: .825rem;">YAMLs</span>
                    <span class="card-text text-success">
                        @this.yamlCount <span class="fa fa-gamepad"></span>
                    </span>
                </div>
                @if (this.Item.DateCompleted.HasValue)
                {
                    <div class="d-flex flex-column">
                        <span class="card-text" style="font-size: .825rem;">Date Completed</span>
                        <span class="card-text">
                            <span class="fa fa-clock"></span>
                            <LocalTime DateTime="@this.Item.DateCompleted"/>
                        </span>
                    </div>
                }
                else if (this.Item.SubmissionDeadline > DateTime.UtcNow)
                {
                    <div class="d-flex flex-column">
                        <span class="card-text" style="font-size: .825rem;">Submission Deadline</span>
                        <span class="card-text">
                            <span class="fa fa-clock"></span>
                            <LocalTime DateTime="@this.Item.SubmissionDeadline"/>
                        </span>
                    </div>
                }
                else if (this.Item.StartDate.Date != new DateTime(2000, 01, 01))
                {
                    <div class="d-flex flex-column">
                        <span class="card-text" style="font-size: .825rem;">Start Date</span>
                        <span class="card-text">
                            <span class="fa fa-clock"></span>
                            <LocalTime DateTime="@this.Item.StartDate"/>
                        </span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code 
{
    [Parameter] public IArchi Item { get; set; }
    [Parameter] public string Class { get; set; }

    private long playerCount;
    private long yamlCount;

    protected override async Task OnInitializedAsync()
    {
        this.playerCount = await this.ArchiManager.GetArchiPlayerCountAsync(this.Item.ArchiId).SafeAsync();
        this.yamlCount = await this.ArchiManager.GetArchiYamlCountAsync(this.Item.ArchiId).SafeAsync();
    }
}