﻿<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="/" />
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="app.css" />
        <link href="./_content/PSC.Blazor.Components.MarkdownEditor/css/markdowneditor.css" rel="stylesheet" />
        <link href="./_content/PSC.Blazor.Components.MarkdownEditor/css/easymde.min.css" rel="stylesheet" />
        <link href="./_content/Cropper.Blazor/cropper.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="MurkYamlStore.styles.css" />
        <link rel="stylesheet" href="font-awesome/css/all.min.css" />
        <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
              rel="stylesheet">
        
        <!-- Icon Stuff -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        
        <HeadOutlet />
        <title>Murkus Community Archipelagos</title>
    </head>

    <body>
        <Routes @rendermode="InteractiveServer" />
        <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="_framework/blazor.web.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="./_content/PSC.Blazor.Components.MarkdownEditor/js/easymde.min.js"></script>
        <script src="./_content/PSC.Blazor.Components.MarkdownEditor/js/markdownEditor.js"></script>
        <script src="./_content/Cropper.Blazor/cropper.min.js"></script>
        <script src="_content/BlazorMonaco/jsInterop.js"></script>
        <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/loader.js"></script>
        <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/editor/editor.main.js"></script>
    </body>

</html>
