@using Cropper.Blazor.Models
@using MurkYamlStore.Util

@inject IToastService ToastService

<div class="d-flex flex-column gap-2 align-items-center">
    <div style="width: @(this.DesignWidth)px; height: @(this.DesignHeight)px;">
        <CropperComponent Options="this.options" Src="@this.src"
                          OnLoadImageEvent="@this.OnLoadImageEvent" @ref="this.cropperComponent"
                          IsErrorLoadImage="@this.isErrorImage"
                          IsAvailableInitCropper="@this.isAvailableInitCropper"
                          OnErrorLoadImageEvent="this.OnErrorLoadImageEvent"/>
    </div>
    <div class="row g-3">
        <div class="col-auto">
            <InputFile id="archiIconUpload" class="form-control col-auto"
                       OnChange="this.ReplaceImageAsync" accept="image/*"/>
        </div>
    </div>
</div>

@code 
{
    [Parameter]
    public Action FirstRender { get; set; }
    [Parameter]
    public int DesignWidth { get; set; } = 400;
    [Parameter]
    public int DesignHeight { get; set; } = 400;
    [Parameter] 
    public int OutputWidth { get; set; } = 256;
    [Parameter]
    public int OutputHeight { get; set; } = 256;
    
    public bool HasNewImage { get; private set; }

    private string src = "assets/img/beach.png";
    private string oldSrc = string.Empty;
    private bool isErrorImage = false;
    private bool isAvailableInitCropper = true;
    private CropperComponent cropperComponent = null;
    private readonly Options options = new()
    {
        AspectRatio = (decimal)1 / 1,
        ViewMode = ViewMode.Vm3
    };
    
    public async Task SaveCroppedImageToFile(string iconPath)
    {
        string resultImageData = await this.cropperComponent.GetCroppedCanvasDataURLAsync(new GetCroppedCanvasOptions
        {
            Width = this.OutputWidth,
            Height = this.OutputHeight,
            ImageSmoothingQuality = "high"
        }).SafeAsync();

        if (!string.IsNullOrWhiteSpace(resultImageData))
        {
            string[] imageData = resultImageData.Split(',');

            if (imageData.Length == 2)
            {
                string imageBase64 = resultImageData.Split(',')[^1];
                byte[] imageBytes = Convert.FromBase64String(imageBase64);
                
                await File.WriteAllBytesAsync(iconPath, imageBytes);
            }
        }
    }

    public void SetPreviewReference(ElementReference reference)
    {
        this.options.Preview = reference;
    }

    private async Task ReplaceImageAsync(InputFileChangeEventArgs e)
    {
        IBrowserFile imageFile = e.File;

        if (!FileHelpers.IsFileSizeValid(e.File.Size))
        {
            this.ToastService.ShowError($"File size cannot exceed {ServerConfig.Instance.UploadSizeLimit}MiB.");
            return;
        }
        
        this.oldSrc = this.src;
        string newSrc = await this.cropperComponent.GetImageUsingStreamingAsync(imageFile, imageFile.Size);

        if (this.isErrorImage)
        {
            this.isAvailableInitCropper = true;
            this.isErrorImage = false;
        }
        else
        {
            this.isAvailableInitCropper = false;
        }
        
        this.StateHasChanged();

        await Task.WhenAll(
                this.cropperComponent.ReplaceAsync(newSrc, false).AsTask()
            )
            .ContinueWith(_ =>
            {
                this.src = newSrc;
                this.HasNewImage = true;
            }, TaskScheduler.Default);
    }

    private async void OnLoadImageEvent()
    {
        if (!string.IsNullOrWhiteSpace(this.oldSrc))
        {
            await this.cropperComponent.RevokeObjectUrlAsync(this.oldSrc);
        }
    }

    private void OnErrorLoadImageEvent(ErrorEventArgs errorEventArgs)
    {
        this.isErrorImage = true;
        this.Destroy();
        this.StateHasChanged();
    }

    private void Destroy()
    {
        this.cropperComponent?.Destroy();
        this.cropperComponent?.RevokeObjectUrlAsync(this.src);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            this.FirstRender?.Invoke();
        }
    }
}