@inject IJSRuntime JsRuntime

<script>
    window.clipboardCopy = {
        copyText: function (codeElement) {
            navigator.clipboard.writeText(codeElement).then(function () {
            })
                .catch(function (error) {
                });
        }
    }
</script>
<div class="tooltip-wrapper">
    <span>@(this.Text)</span>
    @(this.ChildContent)
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string Text { get; set; }

    public async Task CopyToClipboard(string input)
    {
        await this.JsRuntime.InvokeVoidAsync("clipboardCopy.copyText", input);
        string originalText = this.Text;
        this.Text = "Copied!";
        this.StateHasChanged();
        await Task.Delay(1000);
        this.Text = originalText;
        this.StateHasChanged();
    }
}