.tooltip-wrapper {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted var(--bs-light);
    cursor: help;
}

span {
    visibility: hidden;
    position: absolute;
    width: 300px;
    bottom: 100%;
    left: 50%;
    margin-left: -150px;
    background-color: #363636;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
}

span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-wrapper:hover span {
    visibility: visible;
}
