@using Components.Layout

@page "/TTT/Rules"
@layout NoMenuLayout

<div class="d-flex flex-column gap-1">
    <h1 class="text-center">Murkus Community TTT</h1>
    <h3 class="text-center">TTT Server Rules</h3>
    <h5 class="fw-bold">By joining the server you agree to the following:</h5>
    <ol class="list-group list-group-numbered">
        <li class="list-group-item">
            You will allow people to record or stream gameplay including
            you and your voice, should you choose to use voice.
        </li>
        <li class="list-group-item">
            Should you choose to use an in-game spray you will use a stream-friendly spray. 
            This means no NSFW or hateful content etc. (Use common sense)
        </li>
        <li class="list-group-item">
            Be kind and respectful.
        </li>
        <li class="list-group-item">
            Don't let previous rounds affect your actions e.g. tilting/revenge RDM
        </li>
        <li class="list-group-item">
            Do not try to get out of bounds or put people out of bounds, 
            and if you somehow end up out of bounds then killbind (type kill in the console).
        </li>
    </ol>
    <h5 class="fst-italic">
        This is not an all encompassing list of rules, 
        and if you are a dickhead any admins will punish you as they see fit.
    </h5>
    <img class="w-25 align-self-center" src="assets/img/no_lead.gif" alt="Lead NOOOO!"/>
</div>