@using BlazorMonaco
@using BlazorMonaco.Editor
@using BlazorMonaco.Languages
@using MurkYamlStore.Domain.Yamls
@using MurkYamlStore.Util

@inject IToastService ToastService

<style>
    .yaml-editor {
        height: 75vh;
        width: 100%;
        text-align: left !important;
    }
</style>

<div class="d-flex gap-1 align-items-center justify-content-center">
    <div>
        <a class="text-decoration-none" target="_blank" href="api/yaml/@this.Yaml.YamlId/file">
            @this.Yaml.FileName
        </a>
    </div>
    <button class="btn btn-sm btn-primary" data-bs-toggle="modal" 
            data-bs-target="#replaceYamlFileModal@(this.Yaml.GameId)" @onclick="this.LoadYamlContentAsync">
        <span class="fa fa-edit"></span>
    </button>
</div>

<div class="modal modal-xl fade" id="replaceYamlFileModal@(this.Yaml.GameId)" tabindex="-1"
     aria-labelledby="replaceYamlLabel@(this.Yaml.GameId)" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="replaceYamlLabel@(this.Yaml.GameId)">@this.Yaml.FileName</h1>
            </div>
            <div class="modal-body">
                <StandaloneCodeEditor Id="@("yamlEditor" + this.Yaml.YamlId)" CssClass="yaml-editor"
                                      ConstructionOptions="this.EditorConstructionOptions" @ref="this.editorRef"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        @onclick="this.LoadYamlContentAsync">
                    Cancel
                </button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                        @onclick="this.SaveYamlAsync">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public IYaml Yaml { get; set; }

    private StandaloneCodeEditor editorRef;
    private string yamlContent = string.Empty;

    private async Task LoadYamlContentAsync()
    {
        string yamlPath = Path.Combine(FileHelpers.GetYamlDirectory(this.Yaml.ArchiId), this.Yaml.FileName);
        if (!File.Exists(yamlPath))
        {
            this.ToastService.ShowError($"Your yaml '{this.Yaml.FileName}' seems to be corrupted. " +
                                        $"You can paste your yaml in the edit menu for this file to fix this issue.");
            return;
        }

        this.yamlContent = await File.ReadAllTextAsync(yamlPath).SafeAsync();

        if (this.editorRef != null)
        {
            await this.editorRef.SetValue(this.yamlContent).SafeAsync();
        }
    }

    private StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor)
    {
        return new StandaloneEditorConstructionOptions
        {
            AutomaticLayout = true,
            Language = "yaml",
            Value = this.yamlContent,
            Theme = "vs-dark"
        };
    }

    private async Task SaveYamlAsync()
    {
        this.ToastService.ShowInfo("Saving yaml content... Please wait.");
        
        this.yamlContent = await this.editorRef.GetValue().SafeAsync();
        string yamlPath = Path.Combine(FileHelpers.GetYamlDirectory(this.Yaml.ArchiId), this.Yaml.FileName);
        await File.WriteAllTextAsync(yamlPath, this.yamlContent).SafeAsync();
        
        this.ToastService.ShowSuccess("Successfully saved yaml content!");
    }
}