@using MurkYamlStore.Core
@using MurkYamlStore.Domain.Games
@using MurkYamlStore.Domain.Users
@using MurkYamlStore.Enums
@using MurkYamlStore.Util

@inject IToastService ToastService
@inject IUserResolver UserResolver
@inject IGameManager GameManager

@if (this.Game != null)
{
    <div class="d-flex gap-1 align-items-center justify-content-center">
        <img class="rounded flex-shrink-0 overflow-hidden" alt="Game Icon"
             src="api/game/@this.Game.GameId/icon" width="32" height="32"/>
        @if (this.Game.IsOfficial)
        {
            <div>
                <span>
                    @this.Game.GameName
                    <span class="fa fa-check-circle text-success"></span>
                </span>
            </div>
        }
        else
        {
            <div>
                <a class="text-decoration-none" target="_blank"
                   href="api/game/@this.Game.GameId/world">
                    @this.Game.GameName
                </a>
            </div>
            
            @if 
            (
                this.selfUser.HasValue && 
                (
                    this.selfUser.Value.Role.AtLeast(Role.Moderator) ||
                    this.selfUser.Value.Discord.UserId == this.Game.Uploader.UserId
                )
            )
            {
                <button class="btn btn-sm btn-primary" data-bs-toggle="modal"
                        data-bs-target="#replaceWorldFileModal@(this.Game.GameId)">
                    <span class="fa fa-repeat"></span>
                </button>
            }

            <div class="modal fade" id="replaceWorldFileModal@(this.Game.GameId)" tabindex="-1" 
                 aria-labelledby="replaceModalLabel@(this.Game.GameId)" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="replaceModalLabel@(this.Game.GameId)">@this.Game.GameName</h1>
                        </div>
                        <div class="modal-body">
                            <h2 class="fs-6">Update the .apworld here.</h2>
                            <div class="input-group">
                                <InputFile class="form-control" OnChange="this.OnFileChanged"
                                           @key="this.worldFileInputId"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                    @onclick="() => this.worldFileInputId = Guid.NewGuid().ToString()">
                                Cancel
                            </button>
                            <button type="button" class="btn btn-success" data-bs-dismiss="modal" 
                                    @onclick="this.SaveGameAsync">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="d-flex gap-1 align-items-center justify-content-center">
        <div class="rounded flex-shrink-0 bg-primary-subtle" style="width: 32px; height: 32px;">
            <span class="fa fa-gamepad"></span>
        </div>
        <div>
            <span>Loading...</span>
        </div>
    </div>
}

@code 
{
    [Parameter]
    public IGame Game { get; set; }

    private string worldFileInputId = Guid.NewGuid().ToString();
    private IBrowserFile newWorldFile;
    private TryResult<IUser> selfUser;

    protected override async Task OnInitializedAsync()
    {
        this.selfUser = await this.UserResolver.TryResolveUserAsync("self").SafeAsync();
    }

    protected override Task OnParametersSetAsync()
    {
        return this.InvokeAsync(this.StateHasChanged);
    }

    private async Task SaveGameAsync()
    {
        if (!this.selfUser.HasValue)
        {
            this.ToastService.ShowError("You are not logged in.");
            return;
        }
            
        this.ToastService.ShowInfo("Saving a lot of data... Don't turn off the power.");
        
        string fileName = Path.GetFileNameWithoutExtension(this.newWorldFile.Name) + ".apworld";
        string filePath = 
            Path.Combine(FileHelpers.GetGameDirectory(this.Game.GameId, this.Game.ArchiId), fileName);
        string oldFilePath =
            Path.Combine(FileHelpers.GetGameDirectory(this.Game.GameId, this.Game.ArchiId), this.Game.FileName);

        try
        {
            await FileTransferUtil.UploadAndSaveAsync(filePath, this.newWorldFile).SafeAsync();
        }
        catch (Exception e)
        {
            this.ToastService.ShowError($"Fatal error occured while saving game.\n{e.Message}");
            return;
        }

        if (!Path.GetFullPath(filePath).Equals(Path.GetFullPath(oldFilePath)))
        {
            File.Delete(oldFilePath);
        }

        await this.Game.SaveAsync(this.selfUser.Value);
        this.worldFileInputId = Guid.NewGuid().ToString();
        
        this.ToastService.ShowSuccess("Successfully updated apworld.");
    }

    private void OnFileChanged(InputFileChangeEventArgs e)
    {
        if (!FileHelpers.IsFileSizeValid(e.File.Size))
        {
            this.ToastService.ShowError(
                $"apworlds cannot be larger than {ServerConfig.Instance.UploadSizeLimit}MiB." +
                "\nIf a larger file size is needed for your apworld, contact DeltaJordan on Discord."
            );
            this.newWorldFile = null;
            this.worldFileInputId = Guid.NewGuid().ToString();
            return;
        }

        this.newWorldFile = e.File;
    }
}