﻿@using Blazored.Toast.Configuration
@using MurkYamlStore.Core
@using MurkYamlStore.Components.Widgets.Error
@inherits LayoutComponentBase

@inject IHostEnvironment HostEnvironment

<NavMenu />

<div class="page">
    <main>
        <article class="content px-4">
            <CustomErrorBoundary @ref="this.errorBoundary">
                <ChildContent>
                    @(this.Body)
                </ChildContent>
                <ErrorContent></ErrorContent>
            </CustomErrorBoundary>
        </article>

        <BlazoredToasts IconType="IconType.FontAwesome"
                        InfoIcon="fa fa-circle-info" SuccessIcon="fa fa-circle-check"
                        WarningIcon="fa fa-circle-exclamation" ErrorIcon="fa fa-circle-xmark"
                        Position="ToastPosition.BottomRight" ShowCloseButton="false"
                        InfoClass="bg-dark text-light" WarningClass="bg-dark text-light" 
                        ErrorClass="bg-dark text-light" SuccessClass="bg-dark text-light"
                        ShowProgressBar="true"/>
    </main>
</div>

@code
{
    private CustomErrorBoundary errorBoundary;
    
    protected override void OnParametersSet()
    {
        this.errorBoundary?.Recover();
    }
}

