﻿@using Microsoft.AspNetCore.Components.Authorization
@using MurkYamlStore.Util
@using System.Security.Claims

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link px-3" href="" Match="NavLinkMatch.All">
                        <span class="fa fa-house" aria-hidden="true"></span> Home
                    </NavLink>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link px-3" href="/Archis">
                        <span class="fa fa-earth" aria-hidden="true"></span> Archis
                    </NavLink>
                </li>
            </ul>
        </div>
        <form @onsubmit="this.SearchUser">
            <div class="input-group nav-user-search">
                <input type="text" class="form-control" placeholder="Search for user..." @bind="this.searchQuery" />
                <button type="submit" class="btn btn-outline-secondary fa-solid fa-search"></button>
            </div>
        </form>
        @if (!this.isAuthenticated)
        {
            <a class="btn btn-discord ms-2" href="auth/login">
                <span class="fa-brands fa-discord"></span> Sign in with Discord
            </a>
        }
        else
        {
            <div class="dropdown">
                <button class="btn btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="rounded" src="api/user/self/avatar" width="32px" alt="User Avatar" />
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownUserButton">
                    <a class="btn dropdown-item" href="User/Profile/@(this.user.GetDiscordId())">
                        <span class="fa fa-user"></span> Profile
                    </a>
                    <a class="btn dropdown-item" href="auth/logout">
                        <span class="fa fa-right-from-bracket"></span> Sign Out
                    </a>
                </ul>
            </div>
        }
    </div>
</nav>

@code {
    private bool isAuthenticated;
    private ClaimsPrincipal user;

    private string searchQuery;

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await this.AuthenticationStateProvider
            .GetAuthenticationStateAsync().SafeAsync();
        this.user = authState.User;
        this.isAuthenticated = this.user.Identity is not null && this.user.Identity.IsAuthenticated;
    }

    private void SearchUser()
    {
        if (!string.IsNullOrWhiteSpace(this.searchQuery))
        {
            this.NavigationManager.NavigateTo($"/User/Search/{this.searchQuery}");
        }
    }
}
