/* Font-Awesome positioning hacks.  */
.fa {
    margin-right: 0.5rem;
    margin-top: -2px;
}

.fa-brands {
    margin-top: 5px;
    margin-right: 0.5rem;
}

.fa-solid {
    padding-top: 10px;
}

.btn-discord {
    background-color: #5865f2;
}

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item ::deep .nav-link {
    color: #d7d7d7;
    background: none;
    border: none;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    width: 100%;
}

.nav-user-search {
    max-width: 300px;
}