@page "/Archis"
@using MurkYamlStore.Domain.Archis
@using MurkYamlStore.Pagination
@using MurkYamlStore.Components.Widgets.Archis
@using MurkYamlStore.Core
@using MurkYamlStore.Enums

@inject NavigationManager NavigationManager
@inject IArchiManager ArchiManager
@inject IUserContextProvider UserAuth

<PageTitle>Community Archipelagos</PageTitle>

<div class="container">
    @if (this.selfUser.HasValue && this.selfUser.Value.IsAtLeast(Role.Staff))
    {
        <div class="w-100 m-1">
            <button class="btn btn-primary float-end" @onclick="@(() => this.NavigationManager.NavigateTo("/NewArchi"))">
                <span class="fa fa-add"></span> Create New Archi
            </button>
        </div>
    }
    <ul class="nav nav-underline justify-content-center gap-5" id="archTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="past-tab" data-bs-toggle="tab"
                    data-bs-target="#past-tab-pane" type="button" role="tab"
                    aria-controls="past-tab-pane" aria-selected="false">
                <span class="fa fa-fort-awesome"></span> Past
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="present-tab" data-bs-toggle="tab"
                    data-bs-target="#present-tab-pane" type="button" role="tab"
                    aria-controls="present-tab-pane" aria-selected="true">
                <span class="fa fa-play"></span> Active
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="future-tab" data-bs-toggle="tab"
                    data-bs-target="#future-tab-pane" type="button" role="tab"
                    aria-controls="future-tab-pane" aria-selected="false">
                <span class="fa fa-space-awesome"></span> Upcoming
            </button>
        </li>
    </ul>
    <div class="tab-content" id="archTabsContent">
        <div class="tab-pane fade mt-3" id="past-tab-pane" role="tabpanel"
             aria-labelledby="past-tab" tabindex="0">
            <Virtualize Context="pastArchi" ItemsProvider="r => this.LoadArchisAsync(r, ArchiPoolType.Past)"
                        ItemSize="256">
                <ItemContent>
                    <ArchiListItem Item="pastArchi" class="mb-3"></ArchiListItem>
                </ItemContent>
                <Placeholder>
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </Placeholder>
                <EmptyContent>
                    There are no completed Archis. Get those checks!
                </EmptyContent>
            </Virtualize>
        </div>
        <div class="tab-pane fade show active mt-3" id="present-tab-pane" role="tabpanel"
             aria-labelledby="present-tab" tabindex="0">
            <Virtualize Context="presentArchi" ItemsProvider="r => this.LoadArchisAsync(r, ArchiPoolType.Present)"
                        @ref="this.presentVirtualize" ItemSize="256">
                <ItemContent>
                    <ArchiListItem Item="presentArchi" class="mb-3"></ArchiListItem>
                </ItemContent>
                <Placeholder>
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </Placeholder>
                <EmptyContent>
                    There are currently no active Archis.
                </EmptyContent>
            </Virtualize>
        </div>
        <div class="tab-pane fade mt-3" id="future-tab-pane" role="tabpanel"
             aria-labelledby="future-tab" tabindex="0">
            <Virtualize Context="futureArchi" ItemsProvider="r => this.LoadArchisAsync(r, ArchiPoolType.Future)"
                        ItemSize="256">
                <ItemContent>
                    <ArchiListItem Item="futureArchi" class="mb-3"></ArchiListItem>
                </ItemContent>
                <Placeholder>
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </Placeholder>
                <EmptyContent>
                    Nothing to look forward to, at least not here.
                </EmptyContent>
            </Virtualize>
        </div>
    </div>
</div>

@code 
{
    private TryResult<IUserContext> selfUser = new();
    
    private readonly BookmarkToken pastBookmark = new();
    private readonly BookmarkToken presentBookmark = new();
    private readonly BookmarkToken futureBookmark = new();
    
    // On initial visit, we need to trigger the virtualizer manually
    private Virtualize<IArchi> presentVirtualize;
    
    private enum ArchiPoolType
    {
        Past,
        Present,
        Future
    }

    private async ValueTask<ItemsProviderResult<IArchi>> LoadArchisAsync(ItemsProviderRequest request, ArchiPoolType type)
    {
        IReadOnlyList<IArchi> archis = type switch
        {
            ArchiPoolType.Past => await this.ArchiManager.GetPastArchisPagedAsync(10, this.pastBookmark),
            ArchiPoolType.Present => await this.ArchiManager.GetActiveArchisPagedAsync(10, this.presentBookmark),
            ArchiPoolType.Future => await this.ArchiManager.GetUpcomingArchisPagedAsync(10, this.futureBookmark),
            _ => throw new ArgumentOutOfRangeException(nameof(type), type, null)
        };

        int fakeCount = type switch
        {
            ArchiPoolType.Past => GetFakeCount(request.StartIndex, archis.Count, this.pastBookmark),
            ArchiPoolType.Present => GetFakeCount(request.StartIndex, archis.Count, this.presentBookmark),
            ArchiPoolType.Future => GetFakeCount(request.StartIndex, archis.Count, this.futureBookmark),
            _ => throw new ArgumentOutOfRangeException(nameof(type), type, null)
        };

        return new ItemsProviderResult<IArchi>(archis, fakeCount);
    }

    /// <summary>
    /// Returns a fake count to the virtualizer.
    /// Prevents using an unnecessary count SQL query.
    /// </summary>
    /// <param name="startIndex"></param>
    /// <param name="currentCount"></param>
    /// <param name="bookmark"></param>
    /// <returns></returns>
    private static int GetFakeCount(int startIndex, int currentCount, BookmarkToken bookmark)
    {
        return bookmark.HasValue ? startIndex + currentCount + 10 : startIndex + currentCount;
    }

    protected override Task OnInitializedAsync()
    {
        if (this.UserAuth?.Context != null)
        {
            this.selfUser = new TryResult<IUserContext>(this.UserAuth.Context);
        }
        
        return Task.CompletedTask;
    }
}