@page "/Archi/{archiSlug}"
@using MurkYamlStore.Components.Widgets.Archis
@using MurkYamlStore.Core
@using MurkYamlStore.Domain.Games
@using MurkYamlStore.Domain.Yamls
@using MurkYamlStore.Enums
@using MurkYamlStore.Components.Widgets
@using MurkYamlStore.Components.Widgets.Time
@using MurkYamlStore.Components.Widgets.Games
@using MurkYamlStore.Components.Widgets.Yamls

@if (this.currentArchi != null)
{
    <PageTitle>@this.currentArchi.Title</PageTitle>

    <div class="container mt-1 mb-3">
    <div class="d-flex gap-2">
        <div class="d-flex flex-column gap-1 flex-fill">
            <h1>@this.currentArchi.Title</h1>
            <div class="d-flex gap-1">
                <div class="flex-shrink-0">
                    <img class="rounded" style="width: auto; height: 40px;"
                        src="api/user/@this.currentArchi.Author.UserId/avatar" alt="Archi Author Icon" />
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <h6>
                        By
                        <a href="/User/@this.currentArchi.Author.UserId">
                            @this.currentArchi.Author.Username
                        </a>
                    </h6>
                </div>
            </div>
            <p>@this.currentArchi.Description</p>
            <div class="d-flex gap-2 flex-column align-items-end">
                    @if (this.CanDownloadAllYamls())
                    {
                        <a class="btn btn-primary" href="api/archi/@this.currentArchi.ArchiId/yamls"
                            target="_blank">
                            <span class="fa fa-download"></span> Download All YAMLs
                        </a>
                    }
                    @if (this.CanUploadSeed())
                    {
                        <button class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#uploadSeedModal">
                            <span class="fa fa-upload"></span> Upload Generated Seed
                        </button>

                        <div class="modal fade" id="uploadSeedModal" tabindex="-1"
                             aria-labelledby="uploadSeedModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="uploadSeedModalLabel">
                                            Upload Generated Seed
                                        </h1>
                                    </div>
                                    <div class="modal-body">
                                        <h2 class="fs-6">
                                            Update the generated seed .zip here.
                                            If a seed exists, this will replace the existing seed.
                                        </h2>
                                        <div class="input-group">
                                            <InputFile class="form-control" OnChange="this.OnSeedFileChanged"
                                                       @key="this.seedUploadId" accept="application/zip"/>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                                @onclick="() => this.seedUploadId = Guid.NewGuid().ToString()">
                                            Cancel
                                        </button>
                                        <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                                                @onclick="this.SaveSeedAsync">
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (!string.IsNullOrWhiteSpace(this.currentArchi.SeedFileName))
                    {
                        <a class="btn btn-primary" href="api/archi/@this.currentArchi.ArchiId/seed"
                            target="_blank">
                            <span class="fa fa-download"></span> Download Seed
                        </a>
                    }
                    @if (this.CanMarkAsCompleted())
                    {
                        <button class="btn btn-success" @onclick="this.MarkAsCompletedAsync">
                            <span class="fa fa-flag-checkered"></span> Mark Completed
                        </button>
                    }
                </div>
            </div>
            <div class="card flex-shrink-0">
                @if (string.IsNullOrWhiteSpace(this.currentArchi.Icon))
                {
                    <div style="min-height: 256px;"
                        class="d-flex rounded-top text-bg-secondary justify-content-center align-items-center w-100 h-auto">
                        <span class="fa fa-earth text-center" style="font-size: 8rem;"></span>
                    </div>
                }
                else
                {
                    <img class="card-img-top" src="/api/archi/@this.currentArchi.ArchiId/icon" alt="Archipelago Icon" />
                }
                <div class="card-body">
                    @if (this.currentArchi.DateCompleted.HasValue)
                    {
                        <h6 class="card-title">Date Completed</h6>
                        <p class="card-text">
                            <LocalTime DateTime="this.currentArchi.DateCompleted.Value" />
                        </p>
                    }
                    else
                    {
                        <h6 class="card-title">Submission Deadline</h6>
                        <p class="card-text">
                            <LocalTime Format="dd MMMM yyyy 'at' h:mm tt" 
                                       DateTime="this.currentArchi.SubmissionDeadline" />
                        </p>
                    }
                    @if (this.currentArchi.StartDate.Date != new DateTime(2000, 01, 01)) 
                    {
                        <h6 class="card-title">Start Date</h6>
                        <p class="card-text">
                            <LocalTime Format="dd MMMM yyyy 'at' h:mm tt" 
                                       DateTime="this.currentArchi.StartDate" />
                        </p>
                    }
                    <div class="d-flex gap-3">
                        <div class="d-flex flex-column">
                            <span class="card-text" style="font-size: .825rem;">Players</span>
                            <span class="card-text text-success">
                                @this.playerCount <span class="fa fa-user"></span>
                            </span>
                        </div>
                        <div class="d-flex flex-column">
                            <span class="card-text" style="font-size: .825rem;">YAMLs</span>
                            <span class="card-text text-success">
                                @this.yamlCount <span class="fa fa-gamepad"></span>
                            </span>
                        </div>
                        <div class="d-flex flex-column flex-fill">
                            <span class="card-text" style="font-size: .825rem;">Created On</span>
                            <span class="card-text text-success">
                                <LocalTime Format="d" DateTime="this.currentArchi.DateCreated" />
                                <span class="fa fa-clock"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100 mt-3">
            @if (
           this.currentArchi.SubmissionDeadline.Date >= DateTime.UtcNow.Date &&
           this.selfUser.HasValue &&
           this.selfUser.Value.IsAtLeast(Role.User)
           )
            {
                <div class="card">
                    <div class="card-header">
                        My YAMLs
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="input-group">
                                <label class="input-group-text" for="archiYamlUpload">Upload YAML</label>
                                <InputFile disabled="@(this.newYamlModel != null)" id="archiYamlUpload"
                                    class="form-control col-auto" OnChange="this.OnYamlFileChangedAsync"
                                    accept="application/yaml" @key="@this.yamlUploadId" />
                            </div>
                        </li>
                        @if (this.newYamlModel != null)
                        {
                            <li class="list-group-item">
                                <form>
                                    <fieldset>
                                        <div class="d-flex flex-column">
                                            <h5>
                                                Enter Data for New Game
                                                "<span class="text-success-emphasis">@this.newGameModel.GameName</span>"
                                            </h5>
                                            <div class="mb-3">
                                                <MurkCropper DesignWidth="200" DesignHeight="200" @ref="this.murkCropper"
                                                    OutputWidth="64" OutputHeight="64" FirstRender="this.MurkCropperAfterRender" />
                                            </div>
                                            <div class="mb-3 form-check form-switch align-self-end">
                                                <input type="checkbox" class="form-check-input" id="checkIsOfficial"
                                                    @bind="this.newGameModel.IsOfficial" role="switch" />
                                                <label class="form-check-label" for="checkIsOfficial">
                                                    Is this game officially supported by Archipelago?
                                                    If not, you will need to upload the *.apworld.
                                                </label>
                                            </div>
                                            @if (!this.newGameModel.IsOfficial)
                                            {
                                                <div class="input-group mb-3">
                                                    <label class="input-group-text" for="gameApWorldUpload">
                                                        Upload *.apworld
                                                    </label>
                                                    <InputFile class="form-control" id="gameApWorldUpload" @key="this.apWorldUploadId"
                                                        OnChange="this.OnApWorldFileChanged" />
                                                </div>
                                            }
                                            <div class="align-self-end">
                                                <button type="button" class="btn btn-success" @onclick="this.SaveYamlAndGameAsync">
                                                    <span class="fa fa-save"></span> Save
                                                </button>
                                                <button type="button" class="btn btn-danger"
                                                    @onclick="this.CancelSaveYamlAndGameAsync">
                                                    <span class="fa fa-cancel"></span> Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </li>
                            <li class="list-group-item">
                    <h5>Preview</h5>
                    <table class="table text-center align-middle">
                        <thead>
                            <tr>
                                <th scope="col">YAML</th>
                                <th scope="col">Game</th>
                                <th scope="col">Uploaded On</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div>
                                        <a class="text-decoration-none" href="javascript:void(0);">
                                            @this.newYamlModel.FileName
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex gap-1 align-items-center justify-content-center">
                                        <div class="game-icon-preview rounded flex-shrink-0"
                                            @ref="this.gamePreviewReference">
                                        </div>
                                        @if (this.newGameModel.IsOfficial)
                                                    {
                                                        <div>
                                                            <span>
                                                                @this.newGameModel.GameName
                                                                <span class="fa fa-check-circle text-success"></span>
                                                            </span>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div>
                                                            <a class="text-decoration-none" href="javascript:void(0);">
                                                                @this.newGameModel.GameName
                                                            </a>
                                                        </div>
                                                    }
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-body-secondary">
                                                    <LocalTime DateTime="DateTime.UtcNow" />
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </li>
                        }
                        else
                        {
                            <table class="table text-center align-middle">
                                <thead>
                                    <tr>
                                        <th scope="col">YAML</th>
                                        <th scope="col">Game</th>
                                        <th scope="col">Uploaded On</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (this.userYamls?.Count > 0)
                                    {
                                        @foreach (IYaml yaml in this.userYamls)
                                        {
                                            <tr>
                                                <td>
                                                    <EditableYaml Yaml="yaml"/>
                                                </td>
                                                <td>
                                                    @if (this.allArchiGames.TryGetValue(yaml.GameId, out IGame game))
                                                    {
                                                        <ArchiGameWorld Game="game"/>
                                                    }
                                                </td>
                                                <td>
                                                    <div class="text-body-secondary">
                                                        <LocalTime DateTime="yaml.DateUploaded" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <button class="btn btn-danger"
                                                        @onclick="async () => await this.DeleteYamlAsync(yaml).SafeAsync()">
                                                        <span class="fa fa-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <th colspan="3">You haven't uploaded any YAMLs to this Archi.</th>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </ul>
                </div>
            }
            else if (this.selfUser.HasValue)
            {
                <div class="card">
                    <div class="card-header text-center fw-bold">
                        Submissions Have Closed
                    </div>
                </div>
            }
            <div class="card mt-2">
                <div class="card-header d-flex justify-content-between align-items-center" style="transform: rotate(0);">
                    <span>All YAMLs</span>
                    <button class="btn btn-outline-info float-end stretched-link" data-bs-toggle="collapse"
                        data-bs-target="#collapseAllYamls" aria-expanded="false" aria-controls="collapseAllYamls">
                        Toggle View
                    </button>
                </div>
                <div class="collapse" id="collapseAllYamls">
                    <table class="table text-center align-middle text-nowrap">
                        <thead>
                            <tr>
                                <th scope="col">YAML</th>
                                <th scope="col">Game</th>
                                <th scope="col">Uploaded On</th>
                                <th scope="col">Uploaded By</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (this.allArchiYamls != null)
                            {
                                <Virtualize Context="yaml" Items="this.allArchiYamls">
                                    <ItemContent>
                                        <tr>
                                            <td>
                                                <div>
                                                    <a class="text-decoration-none" target="_blank"
                                                       href="api/yaml/@yaml.YamlId/file">
                                                        @yaml.FileName
                                                    </a>
                                                </div>
                                            </td>
                                            <td>
                                                @if (this.allArchiGames.TryGetValue(yaml.GameId, out IGame game))
                                                {
                                                    <ArchiGameWorld Game="game"/>
                                                }
                                            </td>
                                            <td>
                                                <div class="text-body-secondary">
                                                    <LocalTime DateTime="yaml.DateUploaded"/>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex gap-2 justify-content-center">
                                                    <img class="rounded flex-shrink-0" width="32"
                                                         src="api/user/@yaml.Player.UserId/avatar" alt="Uploader"/>
                                                    <a class="text-decoration-none align-self-center"
                                                       href="/User/Profile/@yaml.Player.UserId">
                                                        @yaml.Player.Username
                                                    </a>
                                                </div>
                                            </td>
                                            <td>
                                                @if (this.selfUser.HasValue && this.selfUser.Value.IsAtLeast(Role.Staff))
                                                {
                                                    <button class="btn btn-danger"
                                                            @onclick="async () => await this.DeleteYamlAsync(yaml).SafeAsync()">
                                                        <span class="fa fa-trash"></span>
                                                    </button>
                                                }
                                            </td>
                                        </tr>
                                    </ItemContent>
                                    <EmptyContent>
                                        <tr>
                                            <th colspan="4">There haven't been any YAMLs uploaded to this Archi.</th>
                                        </tr>
                                    </EmptyContent>
                                </Virtualize>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <ArchiGameBarGraph ArchiId="this.currentArchi.ArchiId" />
    </div>
}