@font-face {
	font-family: EmojiFallback;
	unicode-range: U+000A0-1FAFF;
	src: url('/assets/fonts/TwemojiMozilla.ttf') format('truetype');
}

@font-face {
	font-family: 'Noto Sans';
	src: url('/assets/fonts/NotoSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('/assets/fonts/NotoSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('/assets/fonts/NotoSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('/assets/fonts/NotoSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

:root,
:host,
body {
    font-family: 'Rubik', 'Noto Sans', Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
