@page "/404"

<div class="d-flex justify-content-center flex-column">
    <h1 class="mx-auto" style="font-size: 10rem; line-height: 8rem;">404</h1>
    <h1 class="mx-auto">Not Found</h1>
    <img src="assets/img/beach.png" class="mx-auto" />
    <h5 class="mx-auto mt-3">Have you tried looking here?</h5>
</div>