﻿@page "/"

@using MurkYamlStore.Components.Widgets.Time
@using MurkYamlStore.Core
@using MurkYamlStore.Data.News
@using MurkYamlStore.Domain.News
@using MurkYamlStore.Domain.Users
@using MurkYamlStore.Enums
@using MurkYamlStore.Pagination

@inject IUserContextProvider UserAuth
@inject INewsPostManager NewsPostManager
@inject IToastService ToastService

<PageTitle>Home</PageTitle>

<div class="container gap-2 d-flex flex-column align-items-center">
    @if (this.selfUser.HasValue && this.selfUser.Value.IsAtLeast(Role.Staff))
    {
        <div class="w-100 m-1">
            <button class="btn btn-primary float-end" @onclick="this.BeginCreatePost">
                Create News Post
            </button>
        </div>

        if (this.isCreatingPost)
        {
            <div class="card w-100">
                <div class="card-body">
                    <div class="d-flex gap-3">
                        <label for="newPostTitle" class="col-form-label">Title:</label>
                        <div class="flex-fill">
                            <input id="newPostTitle" class="form-control" type="text" @bind="@this.newTitle" />
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <MarkdownEditor @bind-Value="@this.newMessageMarkdown" ValueHTMLChanged="this.OnMarkdownValueHTMLChanged"
                        UploadImage="false" />
                </div>
                <div class="card-footer">
                    <div class="d-flex gap-1 float-end">
                        <button class="btn btn-success" @onclick="this.CreateNewsPostAsync">
                            <span class="fa fa-save"></span> Save
                        </button>
                        <button class="btn btn-danger" @onclick="() => this.isCreatingPost = false">
                            <span class="fa fa-cancel"></span> Cancel
                        </button>
                    </div>
                </div>
            </div>
        }
    }

    <Virtualize Context="newsPost" ItemsProvider="this.LoadNewsPostsAsync" @ref="this.newsContainer">
        <ItemContent>
            @if (this.editingPost == newsPost.NewsPostId)
            {
                <div class="card w-100">
                    <div class="card-body">
                        <div class="d-flex gap-3">
                            <label for="editPostTitle" class="col-form-label">Title:</label>
                            <div class="flex-fill">
                                <input id="editPostTitle" class="form-control" type="text" @bind="@newsPost.Title" />
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <MarkdownEditor @bind-ValueHTML="@newsPost.Message" @bind-Value="@newsPost.Markdown"
                            UploadImage="false" />
                    </div>
                    <div class="card-footer">
                        <div class="d-flex gap-1 float-end">
                            <button class="btn btn-success" @onclick="async () => await SaveNewsPostAsync(newsPost)">
                                <span class="fa fa-save"></span> Save
                            </button>
                            <button class="btn btn-danger" @onclick="this.CancelEditPostAsync">
                                <span class="fa fa-cancel"></span> Cancel
                            </button>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="card w-100">
                    <div class="card-header d-flex gap-1">
                        <img class="rounded" width="48" src="/api/user/@(newsPost.Author.UserId)/avatar"
                            alt="Author Profile Picture" />
                        <div>
                            <h5 class="card-title">@newsPost.Title</h5>
                            <div class="card-subtitle">
                                <span>By</span>
                                <a class="card-link"
                                    href="/User/Profile/@newsPost.Author.UserId">@newsPost.Author.Username</a>
                                <span>on
                                    <LocalTime DateTime="newsPost.DatePosted" />
                                </span>
                            </div>
                        </div>
                        @if (this.selfUser.HasValue && this.selfUser.Value.IsAtLeast(Role.Staff))
                        {
                            <div class="ms-auto">
                                <button class="btn btn-lg" @onclick="() => this.editingPost = newsPost.NewsPostId">
                                    <span class="fa fa-pencil"></span>
                                </button>
                                <button class="btn btn-lg" data-bs-toggle="modal" data-bs-target="#deletePostConfirm">
                                    <span class="fa fa-trash text-danger"></span>
                                </button>

                                <div class="modal fade" id="deletePostConfirm" tabindex="-1"
                                    aria-labelledby="deletePostConfirmLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="deletePostConfirmLabel">
                                                    Delete News Post
                                                </h1>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you wish to delete this news post?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                                    @onclick="async () => await this.DeleteNewsPostAsync(newsPost.NewsPostId)">
                                                    <span class="fa fa-trash"></span> Delete
                                                </button>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    <span class="fa fa-cancel"></span> Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="card-body">
                        <style>
                            img,
                            svg {
                                max-width: 100%;
                            }
                        </style>
                        @((MarkupString)newsPost.Message)
                    </div>
                </div>
            }
        </ItemContent>
        <Placeholder>
            <div class="spinner-border" role="status">
                <span class="visually-hidden"></span>
            </div>
        </Placeholder>
        <EmptyContent>
            Nothing to see here!
        </EmptyContent>
    </Virtualize>
</div>

@code
{
    private TryResult<IUserContext> selfUser = new();

    private Guid? editingPost;

    private bool isCreatingPost;
    private string newTitle;
    private string newMessageMarkdown;
    private string newMessageHtml;

    private readonly BookmarkToken currentBookmark = new();

    private Virtualize<INewsPost> newsContainer;

    protected override Task OnInitializedAsync()
    {
        if (this.UserAuth?.Context != null)
        {
            this.selfUser = new TryResult<IUserContext>(this.UserAuth.Context);
        }

        return Task.CompletedTask;
    }

    private void BeginCreatePost()
    {
        this.newTitle = "";
        this.newMessageMarkdown = "# Markdown is supported!\n**Overwrite this text to begin.**";
        this.isCreatingPost = true;
    }

    private async Task CancelEditPostAsync()
    {
        await this.newsContainer.RefreshDataAsync().SafeAsync();
        this.editingPost = null;
        await this.InvokeAsync(this.StateHasChanged);
    }

    private async Task CreateNewsPostAsync()
    {
        await this.NewsPostManager.CreateNewsPostAsync(
        this.selfUser.Value.Discord.UserId,
        this.newTitle,
        this.newMessageHtml,
        this.newMessageMarkdown
        ).SafeAsync();

        this.isCreatingPost = false;
        await this.newsContainer.RefreshDataAsync().SafeAsync();
        await this.InvokeAsync(this.StateHasChanged);
    }

    private async Task SaveNewsPostAsync(INewsPost newsPost)
    {
        await newsPost.SaveAsync().SafeAsync();
        await this.newsContainer.RefreshDataAsync().SafeAsync();
        this.editingPost = null;
        await this.InvokeAsync(this.StateHasChanged);
    }

    private async Task DeleteNewsPostAsync(Guid postId)
    {
        TryResult<INewsPost> newsPost = await this.NewsPostManager.TryGetNewsPostAsync(postId).SafeAsync();
        if (newsPost.HasValue)
        {
            await newsPost.Value.DeleteAsync().SafeAsync();
        }

        await this.newsContainer.RefreshDataAsync().SafeAsync();
        this.ToastService.ShowSuccess("Successfully deleted news post.");
        await this.InvokeAsync(this.StateHasChanged);
    }

    private Task OnMarkdownValueHTMLChanged(string value)
    {
        this.newMessageHtml = value;
        return Task.CompletedTask;
    }

    private async ValueTask<ItemsProviderResult<INewsPost>> LoadNewsPostsAsync(ItemsProviderRequest request)
    {
        IReadOnlyList<INewsPost> newsPosts =
        await this.NewsPostManager.GetNewsPostsPagedAsync(10, this.currentBookmark).SafeAsync();

        int fakeCount = this.currentBookmark.HasValue ?
        request.StartIndex + newsPosts.Count + 10 :
        request.StartIndex + newsPosts.Count;

        return new ItemsProviderResult<INewsPost>(newsPosts.ToList(), fakeCount);
    }
}
