@page "/User/Profile/{userSlug}"

@using System.ComponentModel
@using System.Drawing
@using MurkYamlStore.Components.Widgets
@using MurkYamlStore.Core
@using MurkYamlStore.Domain.Users
@using MurkYamlStore.Enums
@using MurkYamlStore.Util

@inject IUserContextProvider UserContextProvider
@inject IUserResolver UserResolver
@inject NavigationManager NavigationManager

@if (this.CurrentPageUser != null)
{
    <PageTitle>@this.CurrentPageUser.Discord.GetDisplayNameOrUsername()</PageTitle>
    
    <div class="container">
        <div class="card" style="height: 200px !important;">
            @if (this.CurrentPageUser.BannerOverride.HasValue)
            {
                <span class="card-img img-fluid" style="background-color: @(this.GetBannerHex())"></span>
            }
            else
            {
                <img class="card-img img-fluid" src="/api/user/@(this.UserSlug)/banner" alt="Banner"/>
            }
            @if (this.isEditing)
            {
                <div class="card-img-overlay">
                    <div class="float-end position-relative z-1 d-flex gap-1">
                        <a class="btn btn-success" @onclick="this.SaveUserAsync">
                            <span class="fa fa-save"></span> Save
                        </a>
                        <a class="btn btn-danger" @onclick="this.CancelEditAsync">
                            <span class="fa fa-cancel"></span> Cancel
                        </a>
                    </div>
                    <div class="position-relative h-100">
                        <div class="position-absolute top-50 start-50 translate-middle">
                            <div class="d-flex gap-1">
                                <input type="color" @bind-value="@this.CurrentPageUser.BannerOverride"/>
                                <button class="btn fa fa-trash bg-dark bg-opacity-75 text-danger"
                                        @onclick="() => this.CurrentPageUser.BannerOverride = null"></button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (this.CanEdit)
            {
                <div class="card-img-overlay">
                    <button class="btn btn-lg fa fa-edit float-end bg-dark bg-opacity-75" 
                            @onclick="() => this.isEditing = true"></button>
                </div>
            }
        </div>
        <div class="row p-3 justify-content-around">
            <div class="col-3">
                <div class="position-relative" style="bottom: 100px;">
                    <img class="img-thumbnail" src="/api/user/@(this.UserSlug)/avatar" width="200" alt="Profile Picture"/>
                </div>
                <div class="position-relative" style="bottom: 100px;">
                    <h3 class="mb-0">
                        @(this.CurrentPageUser.Discord.GetDisplayName())
                        @if (!this.isEditing && this.CurrentPageUser.Gender.HasValue)
                        {
                            <span class="ms-1 fs-6">
                                @switch (this.CurrentPageUser.Gender.Value)
                                {
                                    case Gender.Masculine:
                                        <span>(He/Him)</span>
                                        break;
                                    case Gender.Feminine:
                                        <span>(She/Her)</span>
                                        break;
                                    case Gender.Neuter:
                                        <span>(They/Them)</span>
                                        break;
                                }
                            </span>
                        }
                        else if (this.isEditing)
                        {
                            <select class="form-select form-select-sm" @bind="@this.CurrentPageUser.Gender">
                                <option value="">Hide Pronouns</option>
                                <option value="@Gender.Masculine">He/Him</option>
                                <option value="@Gender.Feminine">She/Her</option>
                                <option value="@Gender.Neuter">They/Them</option>
                            </select>
                        }
                    </h3>
                    @if (
                        this.isEditing && 
                        this.UserContextProvider.Context.IsAtLeast(Role.Staff) &&
                        this.UserContextProvider.Context.Discord != this.CurrentPageUser.Discord
                    )
                    {
                        <select class="form-select form-select-sm" @bind="@this.CurrentPageUser.Role">
                            <option class="text-success" value="@Role.Staff">Staff</option>
                            <option value="@Role.User">User</option>
                            <option class="text-danger" value="@Role.Banned">Banned</option>
                        </select>
                    }
                    else
                    {
                        switch (this.CurrentPageUser.Role)
                        {
                            case Role.Banned:
                                <h6 class="text-danger mb-0">Banned</h6>
                                break;
                            case Role.User:
                                <h6 class="mb-0">User</h6>
                                break;
                            case Role.Moderator:
                                <h6 class="text-success mb-0">Moderator</h6>
                                break;
                            case Role.Staff:
                                <h6 class="text-success mb-0">Staff</h6>
                                break;
                            default:
                                break;
                        }
                    }
                    <Tooltip Text="Click to copy" @ref="this.tooltipMention">
                        <span class="text-secondary lh-1" @onclick="this.CopyDiscordMentionAsync">
                            @@@(this.CurrentPageUser.Discord.Username)
                        </span>
                    </Tooltip>
                </div>
                <div class="position-relative" style="bottom: 100px">
                    <div class="mt-3">
                        @if (this.isEditing)
                        {
                            <textarea class="form-control" @bind="@this.CurrentPageUser.Bio"></textarea>
                        }
                        else
                        {
                            <span>
                                @(this.CurrentPageUser.Bio)
                            </span>
                        }
                    </div>
                </div>
            </div>
            <div class="col-6 border rounded">
                <h1 class="border-bottom">Activity</h1>
                <span class="text-center">They haven't done anything yet...</span>
            </div>
            <div class="col-2 border rounded">
                <h6 class="border-bottom py-2 text-center">Current Async Games</h6>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string UserSlug { get; set; }

    private bool CanEdit { get; set; }
    private IUser CurrentPageUser { get; set; }
    private bool isEditing;
    private Tooltip tooltipMention;

    protected override async Task OnInitializedAsync()
    {
        TryResult<IUser> user = await this.UserResolver.TryResolveUserAsync(this.UserSlug).SafeAsync();
        if (!user.HasValue)
        {
            this.NavigationManager.NavigateTo("404");
            return;
        }

        this.CanEdit = UserSecurity.CanEdit(user.Value, this.UserContextProvider.Context);
        this.CurrentPageUser = user.Value;
    }

    protected override async Task OnParametersSetAsync()
    {
        await this.OnInitializedAsync().SafeAsync();
    }

    private async Task CancelEditAsync()
    {
        await this.OnInitializedAsync().SafeAsync();
        this.isEditing = false;
    }

    private async Task SaveUserAsync()
    {
        await this.CurrentPageUser.SaveAsync().SafeAsync();
        await this.OnInitializedAsync().SafeAsync();
        this.isEditing = false;
    }

    private async Task CopyDiscordMentionAsync()
    {
        await this.tooltipMention.CopyToClipboard(this.CurrentPageUser.Discord.GetMention());
    }

    private string GetBannerHex()
    {
        return ColorTranslator.ToHtml(this.CurrentPageUser.BannerOverride.GetValueOrDefault(Color.Black));
    }

}