@page "/User/Search/{searchQuery}"
@using MurkYamlStore.Domain.Users
@using MurkYamlStore.Pagination

@inject IUserManager UserManager

<div class="container">
    <div class="row row-cols-auto m-3">
        <Virtualize Context="user" ItemsProvider="this.UserSearchProvider" @ref="this.virtualizerRef">
            <ItemContent>
                <div class="col ps-1">
                    <div class="card" style="width: 256px; max-width: 256px;">
                        <img class="card-img-top" src="api/user/@user.Discord.UserId/avatar"
                             alt="Avatar Header"/>
                        <div class="card-body">
                            <h5 class="card-title">@user.Discord.GetDisplayNameOrUsername()</h5>
                            <h6>@@@user.Discord.Username</h6>
                            <a href="/User/Profile/@user.Discord.UserId" class="btn btn-outline-primary stretched-link">
                                View Profile
                            </a>
                        </div>
                    </div>
                </div>
            </ItemContent>
            <EmptyContent>
                <div class="text-center">
                    <h3>No Results Found</h3>
                </div>
            </EmptyContent>
        </Virtualize>
    </div>
</div>

@code 
{
    [Parameter]
    public string SearchQuery { get; set; }

    private readonly BookmarkToken searchBookmark = new();
    private Virtualize<IUser> virtualizerRef;

    protected override async Task OnParametersSetAsync()
    {
        if (this.virtualizerRef == null) return;
        
        await this.virtualizerRef.RefreshDataAsync().SafeAsync();
    }

    private async ValueTask<ItemsProviderResult<IUser>> UserSearchProvider(ItemsProviderRequest request)
    {
        IReadOnlyList<IUser> users = 
            await this.UserManager.SearchUsersPagedAsync(this.SearchQuery, 10, this.searchBookmark);

        int fakeCount = GetFakeCount(request.StartIndex, users.Count, this.searchBookmark);

        return new ItemsProviderResult<IUser>(users, fakeCount);
    }

    /// <summary>
    /// Returns a fake count to the virtualizer.
    /// Prevents using an unnecessary count SQL query.
    /// </summary>
    /// <param name="startIndex"></param>
    /// <param name="currentCount"></param>
    /// <param name="bookmark"></param>
    /// <returns></returns>
    private static int GetFakeCount(int startIndex, int currentCount, BookmarkToken bookmark)
    {
        return bookmark.HasValue ? startIndex + currentCount + 10 : startIndex + currentCount;
    }
}